h1{
    color:rgb(222, 205, 15);
    background-color:green;
}
body{
    background-color:beige;
}

time{
    background-color:bisque;
}

address{
    background-color:brown;
}
details{
    background-color:red;
}
html {
    scroll-behavior: smooth;
}

button:hover {
    background-color: pink;
}
input[type="text"]:hover {
    background-color:blue;
}